%title-40 {
    font-size: 40px;
    font-weight: 600;
}
%title-30 {
    font-size: 30px;
    font-weight: 600;
}
%title-24 {
    font-size: 24px;
    font-weight: 600;
}
%title-20 {
    font-size: 20px;
    font-weight: 600;
}

%title-18 {
    font-size: 18px;
    font-weight: 600;
}
%title-16 {
    font-size: 16px;
    font-weight: 600;
}
%title-14 {
    font-size: 14px;
    font-weight: 500;
}
%title-12 {
    font-size: 12px;
    font-weight: 600;
}

