.home {
  margin-bottom: 38px;
  padding-left: 161px;
  width: 100%;
  max-width: 1296px;
  padding: 52px 20px 90px 102px;
  margin: auto;

  @media (max-width: $tablet-pro) {
    padding: 52px 20px 90px 20px;
  }

  @media (max-width: $tablet) {
    padding: 0;
    padding-top: 34px;
  }
  &__hero {
    width: 100%;
    margin-bottom: 100px;

    @media (max-width: $phone) {
      margin-bottom: 28px;
    }

    &__title {
      margin: auto;
      margin-bottom: 20px;
      max-width: 25ch;
      width: 100%;
      font-family: "Bricolage Grotesque";
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      padding: 0 20px;

      @media (max-width: $phone) {
        max-width: 100%;
        font-size: 36px;
        margin-bottom: 24px;
      }

      span {
        background: linear-gradient(
          89.28deg,
          #4ab1f1 55.67%,
          #566cec 65.26%,
          #d749af 73.18%,
          #ff7c51 82.35%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__subtitle {
      width: 100%;
      max-width: 105ch;
      margin: auto;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      line-height: 20px;
      margin-bottom: 24px;
      padding: 0 20px;
      color: #22242c;

      @media (max-width: $tablet) {
        font-weight: 400;
        margin-bottom: 28px;
      }

      @media (max-width: $phone) {
        max-width: 100%;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin: auto;
    }
  }

  &__grid {
    width: 100%;
    max-width: 1296px;

    @media (max-width: $tablet) {
      padding: 0 20px 0 20px;
    }
  }
}
