.studio {
  width: 100%;
  max-width: 1440px;
  padding: 27px 20px 90px 108px;
  margin: auto;
  display: flex;
  gap: 20px;

  @media (max-width: $tablet-pro) {
    padding: 27px 20px 90px 20px;
    flex-direction: column-reverse;
  }

  &__inner {
    width: 100%;
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      flex-wrap: wrap;
      gap: 20px;
      

      & > div {
        @extend %title-30;
        font-weight: 700;
        color: #060d01;
      }

      & > form {
        width: 100%;
        height: 58px;
        border: 1px solid #a0a0a0;
        max-width: 455px;
        padding: 17px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 8px;

        & > input {
          width: 100%;
          height: 100%;
          border: none;
          font-size: 16px;

          &::placeholder {
            color: #a0a0a0;
          }
        }
      }
    }

    &__upload {
      margin-bottom: 41px;
      &__title {
        @extend %title-20;
        font-weight: 700;
        color: #060d01;
        margin-bottom: 10px;
      }

      &__inner {
        width: 100%;
        height: 168px;
        border-radius: 20px;
        background: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__title {
          @extend %title-18;
          color: #060d01;
        }

        &__subtitle {
          @extend %title-14;
          color: #a0a0a0;
          font-weight: 600;
          margin-top: 5px;
        }
      }
    }

    &__filter {
      width: 100%;
      max-width: 730px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      gap: 20px;
      flex-wrap: wrap;

      & > div {
        width: 100%;
        max-width: 320px;

        @media (max-width: $phone) {
          max-width: 100%;
        }
        & > label {
          font-weight: 600;
          color: #374957;
          margin-bottom: 20px;
        }

        & > select {
          @extend %trans-input;
          border-color: #4a576fb2;
        }
      }

      &__tags {
        @extend %trans-input;
        border-color: #4a576fb2;
        padding: 8.5px 16px;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        gap: 8px 4px;

        &__tag {
          min-width: 101px;
          border-radius: 30px;
          height: 31px;
          padding: 0 16.5px;
          display: flex;
          align-items: center;
          gap: 15px;
          background: #374957;
          color: #ffffff;
        }
      }
    }

    &__uploaded {
        margin-bottom: 64px;
      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        & > :first-child {
          @extend %title-20;
          color: #060d01;
        }
        & > :last-child {
          @extend %title-14;
          font-weight: 800;
          color: #6e47d5;
          text-decoration: underline;
        }
      }

      &__inner {
        width: 100%;
        height: fit-content;
        border-radius: 20px;
        background: #fafafa;
        padding: 20px 30px;

        &__title {
          @extend %title-14;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 20px;
          color: #a0a0a0;
          border-bottom: 1px solid #EFEFEF;
          margin-bottom: 20px;
        }

        &__card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #EFEFEF;
            padding-bottom: 28px;
            margin-bottom: 20px;

            &__title {
                font-weight: 500;
                color: #060D01;
                display: flex;
                align-items: center;
                gap: 14px;

                & > img {
                    background: #FFF;
                    padding: 10px;
                    border-radius: 12px;
                }
            }

            &__actions {
                display: flex;
                align-items: center;
                gap: 36px;
                color: #060D01;
                font-weight: 500;
            }
        }
      }
    }

    &__collections {
      width: 100%;
        &__title-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 29px;
            gap: 20px;
            flex-wrap: wrap;

            &__title {
                & >:first-child {
                    @extend %title-20;
                    color: #060D01;
                    font-weight: 700;
                    margin-bottom: 6px;
                }
                & >:first-child {
                    @extend %title-14;
                    color: #A0A0A0;
                    font-weight: 700;
                }
            }

            &__button-group {
                display: flex;
                gap: 37px;

                & >:first-child {
                    @extend %secondary-button;
                }

                & >:last-child {
                    @extend %title-14;
                    font-weight: 800;
                    color: #6E47D5;
                    text-decoration: underline;
                    background: none;
                    border: none;
                }
            }
        }

        &__files {
            display: grid;
            gap: 20px;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: $tablet) {
              grid-template-columns: 1fr 1fr;
            }

            &__file {
              width: 100%;
                // min-width: 309px;
                height: 272px;
                position: relative;
                // background: yellow;

                @media (max-width: $phone) {
                  height: 160px;
                }

                &__bg {
                    z-index: -1;
                }


                &__options {
                    // float: right;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    padding-top: 21px;
                    padding-right: 21px;
                }

                &__title {
                    @extend %title-18;
                    font-weight: 700;
                    color: #060D01;
                    margin-bottom: 8px;
                    margin-left: 20px;
                }
                &__edited {
                    @extend %title-12;
                    font-weight: 700;
                    color: #A0A0A0;
                    margin-bottom: 12px;
                    margin-left: 20px;
                }
            }
        }
    }
  }

  &__card {
    width: 324px;
    height: 544px;
    background: #060D01;
    box-shadow: 0px 10px 40px 12px #6FF8ED17;
    padding: 21px 17px;

    
  @media (max-width: $tablet-pro) {
    width: 600px;
  }
  @media (max-width: $tablet) {
    width: 100%;
  }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        & >:first-child {
            @extend %title-20;
            font-weight: 700;
            color: #A0A0A0;
        }
        & >:last-child {
            @extend %title-18;
            font-weight: 400;
            color: #FFFFFF;
            text-decoration: underline;
        }
    }

    &__tabs {
        display: grid;
        gap: 7px;
        grid-template-columns: 79px 60px 137px;
        margin-bottom: 29px;

        & > div {
            width: 100%;
            height: 7px;
            border-radius: 10px;
        }

        & >:first-child {
            background: #36978D;
        }
        & >:nth-child(2) {
            background: #DF6E49;
        }
        & >:last-child {
            background: #EFEFEF80;
        }
    }

    &__size {
        @extend %title-20;
        font-weight: 700;
        color: #FFFFFF;
        margin-bottom: 24px;

        & > span {
            color: #A0A0A0;
        }
    }


    &__image {
        position: relative;
        background: #060D01;
        border-radius: 50%;
        padding: 10px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -50px;
        z-index: 1;
    }

    &__start {
        background: #373737;
        // height: 281px;
        padding: 73px 18px 20px 18px;

        &__title {
            @extend %title-30;
            font-weight: 700;
            color: #FFFFFF;
            margin-bottom: 10px;
            text-align: center;
            line-height: 150%;
            text-transform: capitalize;
        }
        &__subtitle {
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 16px;
            text-align: center;
        }

        & > button {
            width: 100%;
            height: 48px;
            background: #6E47D5;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 700;
            border: none;
        }
    }


  }
}
